%%%-------------------------------------------------------------------
%%% -*- coding: utf-8 -*-
%%% @author Nikita Roshchupkin
%%% @copyright (C) 2015, Eltex, Novosibirsk, Russia
%%% @doc
%%%
%%% @end
%%% Created : 4 Oct 2015
%%%-------------------------------------------------------------------
{erl_opts, [
    encrypt_debug_info,
    warn_export_all,
    warning_as_error,
    {i, "include"},
    {src_dirs, ["src"]},
    {parse_transform, pt_chronica}
]}.

{deps, [
    {chronica, ".*", {git, "git@github.com:eltex-ecss/chronica.git"}}
]}.