%%%-------------------------------------------------------------------
%%% -*- coding: utf-8 -*-
%%% @author Nikita Roshchupkin
%%% @copyright (C) 2015, Eltex, Novosibirsk, Russia
%%% @doc
%%%
%%% @end
%%% Created : 4 Oct 2015
%%%-------------------------------------------------------------------
[
    {chronica,[
        {rules,[
            {all_messeges,     "*",    info,  [result_testing_rules], off},
            {only_info,     "info",    info,  [result_testing_rules], off},
            {tag_begin_msg,     "msg*",    info,  [result_testing_rules], off},

            {all_file,     "*",    debug,  [filez], off},
            {all_console,     "*",    debug,  [screen], off},
            {all_binary_file,     "*",    debug,  [binary_file], off},

            {all_file_short,     "*",    debug,  [file_short], off},
            {all_reverse_default,     "*",    debug,  [file_reverse_default], off},
            {all_strange_default,     "*",    debug,  [file_strange_default], off}
        ]},
        {flows,[
            {result_testing_rules, [{file, "result_testing_rules.log"}]},

            {filez, [{file, "file.log"}]},
            {screen, [{tty, default}]},
            {binary_file, [{file, "binary_file.log", binary}]},

            {file_short, [{file, "file_short.log", short}]},
            {file_reverse_default, [{file, "file_reverse_default.log", reverse_default}]},
            {file_strange_default, [{file, "file_strange_default.log", strange_default}]}
        ]},
        {formats,[
            {short, "%H:%Mi:%S.%Ms [%Priority] %Message\n"},
            {reverse_default, "%Message %Pid[%Module:%Function:%Line]: %PRIORITY %Y-%M-%D %H:%Mi:%S.%Ms\n"},
            {strange_default, "%PRIORITY %Message %Y-%M-%D %H:%Mi:%S.%Ms %Function\n"}
        ]},
        {active, true},
        {detail_info, false},
        {tty_enabled, true},
        {log_root, "log/<Year>_<Month>_<Day>_<Hour>_<Minute>_<Second>_<Node>"},
        {data_root, "./cache_<Node>/"},
        {max_file_size, 10485760},
        {max_file_num, 10},
        {colored, true}
    ]},

    {sasl, [
         {sasl_error_logger, false}
    ]}
].